/* You could change the font */
$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family:Oxygen);


@import 'bootstrap-sprockets';
@import 'bootstrap';

body{
padding-top:60px;
}


.footer {
  margin-top: 50px;
  color: grayLight;
  a{
    color:gray;
  }
}
